{% extends './layouts/master.html' %}

{% block title %}Autogen's Lab / 服务端开发{% endblock %}

{% block css %}
{% endblock %}

{% block menu %}
{% for item in items %}
<li class="layui-nav-item"><a href=""><i class="layui-icon {{item.logo}}"></i><span>{{item.name}}</span></a></li>
{% endfor %}
{% endblock %}

{% block content %}
<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-header"><i class="layui-icon layui-icon-about"></i><span>联系我</span></div>
        <div class="layui-card-body">
            <blockquote>
                <br>
                <a class="contact"><i class="layui-icon layui-icon-cellphone"></i><span>(+86) 13012345678</span></a>
                <br><br>
                <a class="contact"><i class="layui-icon layui-icon-release"></i><span>shizicheng@gmail.com</span></a>
                <br><br>
                <a class="contact"><i class="layui-icon layui-icon-release"></i><span>shizicheng@gmail.com</span></a>
                <br>
                <br>
                <br>
                <br>
            </blockquote>
            <span class="update-time">修改时间：2018/11/26</span>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}