{% extends './layouts/master.html' %}

{% block title %}Autogen's Lab / 服务端开发{% endblock %}

{% block css %}
<style>
    {% if navex === 'true' %}
    .layui-side.layui-bg-black {
        width: 150px;
    }
    .layui-nav.layui-nav-tree {
        width: 150px;
    }
    .layui-body {
        left: 150px;
    }
    .layui-footer {
        left: 150px;
    }
    .layui-nav .layui-nav-item a {
        padding: 0 20px;
        text-align: initial;
    }
    .layui-nav-item span {
        display: initial;
    }
    {% else %}
    .layui-side.layui-bg-black {
        width: 50px;
    }
    .layui-nav.layui-nav-tree {
        width: 50px;
    }
    .layui-body {
        left: 50px;
    }
    .layui-footer {
        left: 50px;
    }
    .layui-nav .layui-nav-item a {
        padding: 0 0;
        text-align: center;
    }
    .layui-nav-item span {
        display: none;
    }
    {% endif %}
    </style>
{% endblock %}

{% block menu %}
{% for item in menus %}
<li class="layui-nav-item"><a href=""><i class="layui-icon {{item.logo}}"></i><span>{{item.name}}</span></a></li>
{% endfor %}
{% endblock %}

{% block content %}
{% for item in articles %}
<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-header"><a href='/p/{{item.id}}'>{{item.title}}</a></div>
        <div class="layui-card-body">
            摘要: {{item.summary}}<br>
            <span class="update-time">发布时间：{{item.create_at}}</span>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block page %}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <div id="page"></div>
</fieldset>
{% endblock %}

{% block javascript %}
<script>
    layui.config({
        base: '/layui/'
    });
    layui.use(['laypage', 'jquery'], function () {
        var laypage = layui.laypage;
        var $ = layui.$;
        laypage.render({
            elem: 'page',
            count: '{{total}}',
            limit: '{{limit}}',
            curr: '{{pageid}}',
            jump: function (obj, first) {
                if (!first) {
                    form = $("<form></form>")
                    form.attr('action', '/')
                    form.attr('method', 'post')
                    form.css('display', 'none')
                    input = $('<input type="hidden" name="pageid">')
                    input.attr('value', obj.curr)
                    form.append(input)
                    $('body').append(form)
                    form.submit()
                }
            }
        })
    })
</script>
{% endblock %}