{% extends './layouts/master.html' %}

{% block title %}Autogen's Lab / 服务端开发{% endblock %}

{% block css %}
<link rel="stylesheet" href="/prettify/css/tomorrow-night-eighties.min.css" />
<style>
    .layui-card-body {
        line-height: 32px
    }

    code ol {
        counter-reset: number;
        list-style-type: none;
    }

    code ol li {
        list-style-type: none !important;
    }

    code ol li::before {
        counter-increment: number;
        content: counter(number)"\a0";
        display: inline-block;
        width: 2.5em;
    }
</style>
{% endblock %}

{% block menu %}
{% for item in menus %}
<li class="layui-nav-item"><a href=""><i class="layui-icon {{item.logo}}"></i><span>{{item.name}}</span></a></li>
{% endfor %}
{% endblock %}

{% block content %}
<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-header">{{article.title}}</div>
        <div class="layui-card-body">
            {{md | safe}}
            <br>
            <br>
            <br>
            <span class="update-time">修改时间：{{article.create_at}}</span>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="/prettify/js/prettify.js"></script>

<script>
    layui.use(['laypage', 'jquery'], function () {
        var laypage = layui.laypage;
        var $ = layui.$;
        $('code').addClass('prettyprint').addClass('linenums')
        $('document').ready(function () {
            PR.prettyPrint();
        });
    });
</script>
{% endblock %}