{% extends './layouts/master.html' %}

{% block title %}Autogen's Lab / 服务端开发{% endblock %}

{% block css %}
<style>
.layui-card-body {
  line-height: 30px
}
</style>
{% endblock %}

{% block menu %}
{% for item in menus %}
<li class="layui-nav-item"><a href=""><i class="layui-icon {{item.logo}}"></i><span>{{item.name}}</span></a></li>
{% endfor %}
{% endblock %}

{% block content %}
<div class="layui-col-md12">
  <div class="layui-card">
    <div class="layui-card-header">{{article.title}}</div>
    <div class="layui-card-body">
      {{md | safe}}
      <br>
      <br>
      <br>
      <span class="update-time">修改时间：{{article.create_at}}</span>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
