{% extends './layouts/master.html' %}

{% block title %}Autogen's Lab / 服务端开发{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div class="layui-col-md12">
  <div class="layui-card">
    <div class="layui-card-header">详情页面 -- 标题</div>
    <div class="layui-card-body">
      <p>
        第一段
        详情<br>
        详情<br>
        详情<br>
        详情<br>
        详情<br>
        详情<br>
      </p>
      <p>
        第二段
        详情<br>
        详情<br>
        详情<br>
        详情<br>
        详情<br>
        详情<br>
      </p>
      <p>
        第三段
        详情<br>
        详情<br>
        详情<br>
        详情<br>
        详情<br>
        详情<br>
      </p>
      详情<br>
      详情<br>
      详情<br>
      详情<br>
      详情<br>
      <br>
      <br>
      <br>
      <br>
      <span class="update-time">修改时间：2018/11/26</span>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
