{%- extends '../layouts/master.html' -%}

{%- block title -%}角色管理 - Autogen's Lab{%- endblock -%}

{%- block css -%}
<style>
    .layui-card span {
    margin-left: 8px;
}
.layui-icon {
    margin-bottom: -3px;
}
</style>
{%- endblock -%}

{%- block content -%}
<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-header"><i class="layui-icon layui-icon-set"></i><span>角色管理</span>
            <span class="userinfo">管理员:&nbsp;{{session.user.name}}&nbsp;&nbsp;|&nbsp;&nbsp;<a href='/admin/logout'>退出</a></span>
        </div>
        <div class="layui-card-body">
            <!--   -->
            <table class="layui-hide" id="test" lay-filter="test"></table>

            <script type="text/html" id="toolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="add">新增角色</button>
            </div>
            </script>

            <script type="text/html" id="editbar">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
            <!--   -->
        </div>
    </div>
</div>

<script type="text/html" id="role_add">
<div class="layui-row">
    <div class="layui-col-md10">
        <form class="layui-form" id="form" action="">
            <input type="hidden" id="id" name="id">
            <div class="layui-form-item">
                <label class="layui-form-label">角色名</label>
                <div class="layui-input-block">
                    <input require type="text" id="name" name="name" lay-verify="name" autocomplete="false" placeholder="请输入角色名" class="layui-input">
                </div>
            </div>
        </form>
    </div>
</div>
</script>
{%- endblock -%}

{%- block javascript -%}
<script>
    layui.use(['table', 'jquery', 'element'], function () {
        var table = layui.table;
        var $ = layui.$;

        table.render({
            elem: '#test'
            , url: '/admin/role/data'
            , toolbar: '#toolbar'
            , loading: true
            , title: '角色表'
            , cols: [[
                { field: 'id', title: 'ID', width: 80, sort: true }
                , { field: 'name', title: '角色名', width: 120, sort: true }
                , { fixed: 'right', title: '操作', toolbar: '#editbar', width: 120 }
            ]]
            , page: {
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip']
                , curr: 1
                , groups: 10
                , prev: '上一页'
                , next: '下一页'
            }
        });

        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'add':
                    layer.open({
                        type: 1,
                        title: '添加角色',
                        content: $('#role_add').html(),
                        skin: 'layui-layer-prompt',
                        area: ['500px', '300px'],
                        btn: ['确定', '取消'],
                        yes: function () {
                            $.post(
                                '/admin/role/add',
                                $('#form').serialize(),
                                function (res) {
                                    if (res.code == 0) {
                                        window.location.reload()
                                    } else {
                                        layer.msg(res.msg, { shift: 6 })
                                    }
                                })
                        }
                    })
            };
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的要删除吗', function (index) {
                    $.post(
                        '/admin/role/del',
                        { id: data.id },
                        function (res) {
                            if (res.code == 0) {
                                obj.del();
                                layer.close(index);
                            } else {
                                layer.msg(res.msg, { shift: 6 })
                            }
                        })

                });
            } else if (obj.event === 'edit') {
                layer.open({
                    type: 1,
                    title: '修改角色',
                    content: $('#role_add').html(),
                    skin: 'layui-layer-prompt',
                    area: ['500px', '300px'],
                    btn: ['确定', '取消'],
                    yes: function () {
                        $.post(
                            '/admin/role/update',
                            $('#form').serialize(),
                            function (res) {
                                if (res.code == 0) {
                                    window.location.reload()
                                } else {
                                    layer.msg(res.msg, { shift: 6 })
                                }
                            })
                    }
                })
                $('#id').val(data.id)
                $('#name').val(data.name)
            }
        });
    });
</script>
{%- endblock -%}