{% extends '../layouts/master.html' %}

{% block title %}标签管理 - Autogen's Lab{% endblock %}

{% block css %}
<style>
    .layui-card span {
    margin-left: 8px;
}
.layui-icon {
    margin-bottom: -3px;
}
</style>
{% endblock %}

{% block content %}
<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-header"><i class="layui-icon layui-icon-set"></i><span>标签管理</span></div>
        <div class="layui-card-body">
            <!--   -->


            <table class="layui-hide" id="test" lay-filter="test"></table>

            <script type="text/html" id="toolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="add">新增标签</button>
                {#
                <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
                <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
                <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
                #}
            </div>
            </script>

            <script type="text/html" id="editbar">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>



            <!--   -->
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    layui.use(['table', 'jquery'], function () {
        var table = layui.table;
        var $ = layui.$;

        table.render({
            elem: '#test'
            , url: '/admin/tag/data'
            , toolbar: '#toolbar'
            , title: '标签表'
            , cols: [[
                { type: 'checkbox', fixed: 'left' }
                , { field: 'id', title: 'ID', width: 80, sort: true }
                , { field: 'name', title: '标签', width: 120, sort: true }
                , { fixed: 'right', title: '操作', toolbar: '#editbar', width: 150 }
            ]]
            , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                , curr: 1 //设定初始在第 5 页
                , groups: 10 //只显示 1 个连续页码
                , prev: '上一页'
                , next: '下一页'
            }
        });

        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'add':
                layer.prompt({
                    formType: 0
                    ,title: '添加标签'
                    , value: ''
                }, function (value, index) {
                    $.post(
                        '/admin/tag/add',
                        { name: value },
                        function (res) {
                            if (res.code == 0) {
                                window.location.reload()
                            } else {
                                layer.msg(res.msg)
                            }
                        })
                });
                    break;
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('确定删除[' + data.name + ']吗？', function (index) {
                    $.post(
                        '/admin/tag/del',
                        { id: data.id },
                        function (res) {
                            if (res.code == 0) {
                                obj.del();
                                layer.close(index);
                            } else {
                                layer.msg(res.msg)
                            }
                        })

                });
            } else if (obj.event === 'edit') {
                layer.prompt({
                    formType: 0
                    , title: '修改标签'
                    , value: data.name
                }, function (value, index) {
                    $.post(
                        '/admin/tag/update',
                        { id: data.id, name: value },
                        function (res) {
                            if (res.code == 0) {
                                obj.update({
                                    name: value
                                });
                                layer.close(index);
                            } else {
                                layer.msg(res.msg)
                            }
                        })
                });
            }
        });
    });
</script>
{% endblock %}