<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="//static.autogen.sh/layui/css/layui.css?t=20181212-2" media="all">
    <link rel="stylesheet" href="//static.autogen.sh/font-mfizz/font-mfizz.css?t=20181212-2" media="all">
    <title>500 - Autogen's Lab</title>
    <style>
        .layui-container {
            width: 400px;
        }
        .layui-icon {
            font-size: 200px;
        }
        p {
            font-size: 28px;
            float: left;
            line-height: 38px;
        }
        div {
            font-size: 16px;
        }
        .layui-btn {
            float: left;
            line-height: 38px;
            margin-left: 20px;
        }
        .clear {
            clear: both;
        }
    </style>
</head>

<body class="layui-layout-body">
    <div class="layui-container fly-marginTop">
        <div class="fly-panel">
            <div class="fly-none">
                <h2><i class="layui-icon layui-icon-face-cry"></i></h2>
                <br><br><br>
                <p>服务器出错啦</p>
                <a href="/" class="layui-btn">返回首页</a>
                <div class="clear"></div>
                <br>
                {#<div>{{ error }}</div>#}
            </div>
        </div>
    </div>
</body>

</html>