{%- extends './layouts/master.html' -%}

{%- block title -%}Autogen's Lab / 服务端开发{%- endblock -%}

{%- block css -%}
{%- endblock -%}

{%- block search -%}
<div style="padding: 10px 20px 0 20px; line-height: 38px">
    <i id="search-ico" class="layui-icon layui-icon-search"></i>
    <input type="text" id="search-box" autocomplete="false" placeholder="搜索文章" class="layui-input" value="{{tag}}">
</div>
{%- endblock -%}

{%- block content -%}
{%- for item in articles -%}
<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-header"><a href="/post/{{item.id}}">{{item.title}}</a></div>
        <div class="layui-card-body">
            摘要: {{item.summary}}<br>
            <span class="update-time">发布时间：{{item.create_at}}</span>
        </div>
    </div>
</div>
{%- endfor -%}
{%- endblock -%}

{%- block page -%}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <div id="page"></div>
</fieldset>
{%- endblock -%}

{%- block javascript -%}
<script>
    layui.config({
        base: '/layui/'
    });
    layui.use(['laypage', 'jquery'], function () {
        var laypage = layui.laypage;
        var $ = layui.$;

        laypage.render({
            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'],
            elem: 'page',
            count: '{{total}}',
            limit: '{{limit}}',
            curr: '{{page}}',
            groups: 10,
            jump: function (obj, first) {
                if (!first) {
                    window.location.href = '/?page=' + obj.curr;
                    if (false) {
                        form = $("<form></form>")
                        form.attr('action', '/')
                        form.attr('method', 'post')
                        form.css('display', 'none')
                        input = $('<input type="hidden" name="page">')
                        input.attr('value', obj.curr)
                        form.append(input)
                        $('body').append(form)
                        form.submit()
                    }
                }
            }
        });

        var format = function (timestamp) {
            var d = new Date(timestamp); //根据时间戳生成的时间对象
            var date = (d.getFullYear()) + "-" +
                (d.getMonth() + 1) + "-" +
                (d.getDate()) + " " +
                (d.getHours()) + ":" +
                (d.getMinutes()) + ":" +
                (d.getSeconds());
        }

        var len = $('#search-box').val().length;
        if (len>0 && document.getElementById('search-box').setSelectionRange) {
            document.getElementById('search-box').setSelectionRange(len, len);
            $('#search-box').focus();
        }

        $('#search-box').bind('keydown', function (event) {
            if (event.keyCode == "13") {
                var tag = $('#search-box').val();
                if (tag == '') {
                    location.href = '/';
                } else {
                    location.href = '/tag/' + tag;
                }
            }
        });
    })
</script>
{%- endblock -%}