{% extends './layouts/master.html' %}

{% block title %}Autogen's Lab / 服务端开发{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
{% for item in articles %}
<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-header"><a href='/p/{{item.id}}'>{{item.title}}</a></div>
        <div class="layui-card-body">
            摘要: {{item.summary}}<br>
            <span class="update-time">发布时间：{{item.create_at}}</span>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block page %}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <div id="page"></div>
</fieldset>
{% endblock %}

{% block javascript %}
<script>
    layui.config({
        base: '/layui/'
    });
    layui.use(['laypage', 'jquery'], function () {
        var laypage = layui.laypage;
        var $ = layui.$;
        laypage.render({
            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'],
            elem: 'page',
            count: '{{total}}',
            limit: '{{limit}}',
            curr: '{{page}}',
            groups: 10,
            jump: function (obj, first) {
                if (!first) {
                    form = $("<form></form>")
                    form.attr('action', '/')
                    form.attr('method', 'post')
                    form.css('display', 'none')
                    input = $('<input type="hidden" name="page">')
                    input.attr('value', obj.curr)
                    form.append(input)
                    $('body').append(form)
                    form.submit()
                }
            }
        })
    })
</script>
{% endblock %}